* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
}
 
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: crimson;
    color: white;
}
.nav-link {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}



.input {
 
    height: 100px;
    padding: 20px;
}

.city{
    display: flex;
    justify-content: center;
    padding: 20px;
    border:1px solid rgb(231, 217, 217);
}

.cityName{
    padding: 20px;
    flex-wrap: 1;
}

.restName {
    display: flex;
    justify-content: center;
    padding: 20px;
}


.restDetail{
    padding-top: 30px;
}

.list {
    padding: 20px;
}